<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="admin.css">
    <link rel="icon" type="image/x-icon" href="/static/img/logo.ico">
    <script src="https://www.gstatic.com/firebasejs/8.6.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.1/firebase-database.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/static/js/admin.js"></script>
    <title>Admin</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar-container containernav">
        <input type="checkbox" name="" id="" />
        <div class="hamburger-lines">
          <span class="line line1"></span>
          <span class="line line2"></span>
          <span class="line line3"></span>
        </div>
        <ul class="menu-items">
            <li><a href="index.html">Home</a></li>

            <li id="login-signup-buttons">
                <button class="loginbtn navbutton"><a href="login.html">Login/Signup</a></button>
            </li>
            <li id="user-info" class="user-info">
              <span id="user-name" class="user-name">User</span>
              <div class="dropdown-content">
                <a href="profile.html"  class="logout-button">Profile</a>
                  <a href="dashboard.html" id="admin-button" class="logout-button">Admin</a>
                  <a href="logs.html" id="logs-button" class="logout-button">Logs</a>
                  <a id="logout-button" class="logout-button" onclick="logout()">Logout</a>

              </div>
          </li>
        </ul>
        <a href="index.html"><img src="/static/img/logo.png" class="logo"></a>
      </div>
    </nav>

<!-- <img id="cam-stream" src="http://127.0.0.1:5569/stream" alt="Video Stream" style="width:250px; height:250px;"> -->
<!-- <img src="http://127.0.0.1:5520/face" alt="ESP32-CAM Stream" style="width:250px; height:250px;"> -->
<table></table>
<div class="scrollable-table">
  <table id="user-table"></table>
</div>

<div id="delete-modal" class="modal">
  <div class="modal-content">
    <h1>DELETING USER PLEASE WAIT</h1>
  </div>
</div>
<!-- edit user modal -->
<div id="edit-modal" class="modal">
  <div class="modal-content">

    <span class="close" id="x">&times;</span>
    <form>
      <h2>Edit User</h2>
      <div>
        <div>
          <p for="edit-first-name">First Name:</p>
          <input type="text" id="edit-first-name" name="firstName" required>
        </div>
        <div>
          <p for="edit-last-name">Last Name:</p>
          <input type="text" id="edit-last-name" name="lastName" required>
        </div>
        <div>
          <p for="edit-email">Email:</p>
          <input type="email" id="edit-email" name="email" required>
        </div>
        <div>
          <p for="edit-username">Username:</p>
          <input type="text" id="edit-username" name="username" required>
        </div>
        <div>
          <p for="edit-is-permit">Permit:</p>
          <input type="checkbox" id="edit-is-permit" name="isPermit">
        </div>
        <div>
          <p for="edit-is-admin">Is Admin:</p>
          <input type="checkbox" id="edit-is-admin" name="isAdmin">
        </div>
      </div>
      <div>
        <button class="buttontable" type="button" id="edit-save-button">Save</button>
        <!-- <button class="buttontable"  type="button" id="edit-cancel-button">Cancel</button> -->
        <button class="buttontabledelete"  type="button" id="edit-delete-button">Delete</button>
      </div>
      
    </form>
    

  </div>
</body>
</html>
