
/* Dashboard Styles */
.card {
    background: #333;
    border: none;
    color: white;
    transition: transform 0.3s ease;
}

#lastlogin{
    padding: 10px;
}
.card:hover {
    transform: scale(1.01);
}

/* Footer Styles */
.footer {
    padding: 20px 0;
    text-align: center;
}

/* Responsive Typography */
@media (max-width: 768px) {
    .col-12{
        padding: 10px;
    }
}

/* Additional Media Queries for responsiveness */
@media (max-width: 576px) {
    .col-12{
        padding: 10px;
    }
}

/* Canvas for the chart */
canvas {
    width: 100% !important; /* Overrides default canvas width */
    height: auto !important; /* Overrizdes default canvas height */
}

#dashboard-title{
    padding-top: 20px;
    text-align: center;
    color: white;
}
.button{
    margin: 10px;
}


.status-indicator {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6); /* Adds a shadow for depth */
}

.red {
    background-color: rgb(246, 51, 51);
    
}

.green {
    background-color: rgb(33, 214, 33);
}

@media (max-width: 1024px) {
    .card {
        margin-bottom: 20px;
    }
    .card-body {
        padding: 15px;
    }
    .table {
        font-size: 0.9em; /* Slightly smaller font size for tables */
    }
    .navbar-container, .card, .chart-card {
        width: auto; /* Ensure these elements fit within the viewport */
    }
    .status-indicator {
        width: 12px; /* Slightly smaller status indicators */
        height: 12px;
    }
    h5.card-title {
        font-size: 1.1em; /* Adjust title font size */
    }
    #dashboard-title {
        font-size: 1.5em; /* Adjust dashboard title font size */
    }
}

/* Further adjustments for smaller laptop screens */
@media (max-width: 768px) {
    .card-body {
        padding: 10px;
    }
    .chart-container {
        max-width: 100%;
    }
    .button {
        padding: 5px 10px; /* Smaller buttons */
        font-size: 0.8em;
    }
    h5.card-title {
        font-size: 1em; /* Smaller card titles */
    }
}

.control-grid {
    margin-top: 20px;
}

.control-button {
    width: 60px;  /* Ensuring all buttons have the same width */
    height: 60px; /* Ensuring all buttons have the same height */
    font-size: 24px; /* Icon size */
    border-radius: 30px; /* Making buttons perfectly circular */
    border: none; /* Removing default border */
}

.btn-light {
    background-color: #f8f9fa; /* Light background for a clean look */
    color: #000; /* Making the icon color dark for contrast */
}

.btn-secondary {
    background-color: #6c757d; /* Darker background for the center button */
    color: #fff; /* White text for better readability */
}
