@import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Poppins&display=swap');

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 14px;
    background: linear-gradient(to bottom right, #252525, #110716);
    animation: fadeIn 1s ease-in-out;
    
}
#login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 

}

.card {
    width: 90%;
    max-width: 400px;
    background-color: rgba(69, 63, 73, 0.397);
    border-radius: 15px;
    padding: 20px;
    backdrop-filter: blur(30px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
    
}

.card h2 {
    color: #fff;
    margin-bottom: 15px;
    font-size: 1.5em;
}

.card form {
    display: flex;
    flex-direction: column;
}

.card label {
    color: #fff;
    margin-bottom: 5px;
}

.card input {
    padding: 8px;
    margin-bottom: 10px;
    border: none;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.8);
    transition: all 0.3s ease-in-out;
}
/* CSS */
.input-valid:focus {
    outline: none;
    box-shadow: 0 2px 20px #28a745; /* green shadow for valid input */
}

.input-invalid:focus {
    outline: none;
    box-shadow: 0 2px 20px #ff4646; /* red shadow for invalid input */
}

.container button {
    padding: 8px;
    margin-top: 5px;
    background-color: #468dff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

}
.container button:hover{
    background-color: #305a9e;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* spacing between card and login button */
}
#loginbtn{
    width: 100%;
    background-color: #4d4d4d;
}
.container a {

    background-color: #4e4e4e;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    width: 100%;
}
.container a:hover {

    background-color: #2e2d2d;

}
/* Tablet View */
@media screen and (min-width: 768px) {
    .card {
        width: 70%;
        padding: 30px;
    }

    .card h2 {
        font-size: 1.7em;
    }

}

/* Desktop View */
@media screen and (min-width: 1024px) {
    .card {
        width: 100%;
        padding: 40px;
    }
}
#photo-preview{
    width: 50%;
    margin-left: 25%;
}
#photo-preview:hover {
    transform: scale(1.1, 1.1);
    transition: .5s;
  }
  
#photo-preview:active {
    transform: scale(1.1, 1.1);
  }