<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <link rel="icon" type="image/x-icon" href="/static/img/logo.ico">
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js" defer></script>
    <!-- TODO: Add SDKs for Firebase products that you want to use
         https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-auth.js" defer></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-storage.js" defer></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-database.js" defer></script>
    <script src="/static/js/profile.js" defer></script>
    </head>
    <body>
        <nav class="navbar">
          <div class="navbar-container containernav">
            <input type="checkbox" name="" id="" />
            <div class="hamburger-lines">
              <span class="line line1"></span>
              <span class="line line2"></span>
              <span class="line line3"></span>
            </div>
            <ul class="menu-items">
                <li><a href="index.html">Home</a></li>

                <li id="login-signup-buttons">
                    <button class="loginbtn navbutton"><a href="login.html">Login/Signup</a></button>
                </li>
                <li id="user-info" class="user-info">
                    <span id="user-name" class="user-name">User</span>
                    <div class="dropdown-content">
                        <a href="profile.html"  class="logout-button">Profile</a>
                          <a href="dashboard.html" id="admin-button" class="logout-button">Admin</a>
                          <a href="logs.html" id="logs-button" class="logout-button">Logs</a>
                          <a id="logout-button" class="logout-button" onclick="logout()">Logout</a>
  
                      </div>
                </li>
            </ul>
            <a href="index.html"><img src="/static/img/logo.png" class="logo"></a>
          </div>
        </nav>
        <div class="profile-container">
            <div class="profile-div">
                <div class="image-container">
                    <img id="profile-picture" src="" alt="Profile Picture" class="profile-picture">
                </div>
                <img src="" id="user-qr" alt="QR Code" class="qr-code">
                <div class="user-info">
                    <p id="username"><strong>Username: </strong></p>
                    <p id="first-name"><strong>First Name: </strong> </p>
                    <p id="last-name"><strong>Last Name: </strong> </p>
                    <p id="email"><strong>Email: </strong> </p>
                    <!--<img src="path-to-placeholder-qr" id="user-barcode" alt="barcode" class="barcode">-->
                </div>
            </div>
        </div>
        
        
    </body>
</html>
