#h1section1{
    padding-top: 2%;
}
.custom-sec-padding-dark, .custom-sec-padding, .custom-sec-padding-light {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f0f0f0; /* Dark for .custom-sec-padding-dark, adjust for others */
  }
  .custom-sec-padding-dark{
    background-color: black; /* Dark for .custom-sec-padding-dark, adjust for others */
    color: white;
  }
  .custom-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .custom-col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
  }
  
  .custom-service-layout {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .custom-service-img-left, .custom-service-img-right {

    border-radius: 30px;
    flex-basis: 40%; /* Adjust based on preference */
    max-width: 20%; /* Adjust based on preference */
    height: auto;
  }
  
  .custom-service-text-right, .custom-service-text-left {
    flex-basis: 78%; /* Adjust based on preference */
    max-width: 100%; /* Adjust based on preference */
    text-align: left;
  }
  
  /* Swap positions for alternate services */
  .custom-service-layout:nth-child(even) .custom-service-img-right {
    order: 1;
  }
  
  .custom-service-layout:nth-child(even) .custom-service-text-left {
    order: 0;
    text-align: right;
  }
  @media (max-width: 768px) {
    #h1section1{
      padding-top: 50px;
    }
    .custom-col-md-12 {
      flex-direction: column;
      padding: 15px;
      
    }
  
    .custom-service-img-left, .custom-service-img-right {
      /* Adjust image sizing for smaller screens */
      flex-basis: 100%;
      max-width: 100%; /* Images take full width */
      margin-bottom: 20px; /* Add space between image and text */
    }
  
    .custom-service-text-right, .custom-service-text-left {
      /* Text blocks take full width on smaller screens */
      flex-basis: 100%;
      max-width: 100%;
      text-align: left; /* Optionally center text for better readability */
    }
  
    /* Adjust padding and layout for smaller screens */
    .custom-sec-padding-dark, .custom-sec-padding, .custom-sec-padding-light {
      padding-top: 15px;
      padding-bottom: 15px;
    }
    
    /* For the text alignment in services, you might not need to change the order, but adjust text alignment if desired */
    .custom-service-layout:nth-child(even) .custom-service-text-left, 
    .custom-service-layout .custom-service-text-right {
      text-align: left; /* Center text for readability, adjust as needed */
    }
  }
  