<html>
    <head>
        <title>Signup</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="login_singup.css">
        <link rel="icon" type="image/x-icon" href="/static/img/logo.ico">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

<!-- Firebase Storage -->
<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-storage.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-database.js"></script>
<!-- Firestore (if you are using Firestore) -->
<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js"></script>

<!-- Firebase Authentication -->
<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-auth.js"></script>


<!-- Your custom JS file -->
<script src="/static/js/signup.js" defer></script>
    </head>
    <body id="login-body">
        <div class="container">
            <div class="card">
              <h2>Signup Form</h2>
              <form id="signup-form">
                <label for="first-name">First Name</label>
                <input type="text" id="first-name" name="first-name" required>
                <div id="first-name-error" style="color: red;"></div>

                <label for="last-name">Last Name</label>
                <input type="text" id="last-name" name="last-name" required>
                <div id="last-name-error" style="color: red;"></div>

                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
                <span id="email-validation-icon" class="validation-icon"></span>
                <div id="email-error" style="color: red;"></div>

                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
                <div id="username-error" style="color: red;"></div>

                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
                <div id="password-error" style="color: red;"></div>

                <label for="photo">Photo</label>
                <input type="file" id="photo" name="photo" accept="image/*" capture="camera" required>
                <img id="photo-preview" src="#" alt="Image preview..." style="display: none;">
                <div id="photo-error" style="color: red;"></div>

                <button type="submit" id="signup-button">Sign Up</button>
                <div id="user-s"></div>



              </form>
              <div id="signup-progress" style="color: green; margin-top: 10px;"></div>
            </div>
            <a href="login.html"><button id="loginbtn">Back</button></a>
        </div>
    </body>
</html>
